.badge {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: white;
  font-weight: 600;
}
.badge__small {
  background-color: tomato;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
